/home
/lua
/love2d
/defold
/tiled
/git
/mingw
/cmake
/xmake
/vscode

/Lua Code.lnk

/playground/*
!/playground/srlua
!/playground/hello_lua
!/playground/hello_love2d
!/playground/hello_c_binding
!/playground/audio_player

sed.exe
